<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DBPicReader</servlet-name>
    <servlet-class>com.shop.tool.DBPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPicReader</servlet-name>
    <url-pattern>/DBPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBPicReader2</servlet-name>
    <servlet-class>com.shop.tool.DBPicReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPicReader2</servlet-name>
    <url-pattern>/DBPicReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBPicReader3</servlet-name>
    <servlet-class>com.shop.tool.DBPicReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPicReader3</servlet-name>
    <url-pattern>/DBPicReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.detail.controller.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/shop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopOrderServlet</servlet-name>
    <servlet-class>com.detail.controller.ShopOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopOrderServlet</servlet-name>
    <url-pattern>/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.detail.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProServlet</servlet-name>
    <servlet-class>com.detail.controller.ProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProServlet</servlet-name>
    <url-pattern>/pro.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404/404.html</location>
  </error-page>
</web-app>